<a href="https://colab.research.google.com/github/cs-sally/kaggle_programming_python/blob/main/3_data_type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Types**
*   Determination of action
*   Data Type Matches: Avoid errors

**1. Integers**
*   numbers without fractional part
*   positive, 0, negative
*   **type()***: verifying data type:<class ''>

In [ ]:
x = 14
print(x)
print(type(x))

14
<class 'int'>

**2. Floats**
*   numbers with fractional parts
*   numbers after decimal
*   specifying a float with a fraction
*   **round()*** function: rounding to decimal place
*   decimal point: always float even 0

In [ ]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

# float with a franction
almost_pi = 22 / 7
print(almost_pi)
print(type(almost_pi))

# round() function: rounding to a decimal places
rounded_pi = round(almost_pi, 5)
print(rounded_pi)
print(type(rounded_pi))

# always a float with a decimal point
y_float = 1
print(y_float)
print(type(y_float))

3.141592653589793
<class 'float'>
3.142857142857143
<class 'float'>
3.14286
<class 'float'>
1
<class 'int'>

**3. Booleans**
*   one of two values: True or False
*   COMPARISON: always BOOLEANS
*   not True, False : Always BOOLEANS
*   '=': assignment, specific value
*   '==': comparison, checking two values

In [ ]:
# Boolean value
z_one = True
print(z_one)
print(type(z_one))

z_two = False
print(z_two)
print(type(z_two))

# Expression, comparison is boolean always
z_three = (1 < 2) # 1 < 2 is True
print(z_three)
print(type(z_three))

z_four = (5 < 3)
print(z_four)
print(type(z_four))

# not Ture, not False
z_five = not z_four
print(z_five)
print(type(z_five))

True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>

**4. Strings**
: a collection of characters: letters, puntuation, numerical digits, symbols with quotation marks, text

*   **len()***: characters, space, comma, marks
*   Empty string: length zero
*   Quatation marks: string data type
*   **float()*** : **type casting** (type conversion) to a float
*   strings only addition: **concatenating**
*   no subtraction, division, multiplication
*   string multiplication with **integer, no float**

In [ ]:
# string data type
w = "Hello, Python!"
print(w)
print(type(w))

# len() function
print(len(w))

# empty string
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

# quatation marks magic
my_number = "1.12321"
print(my_number)
print(type(my_number))

# type conversion to float
also_my_number = float(my_number)
print(also_my_number)
print(type(also_my_number))

# string addition
new_string = "abc" + "def"
print(new_string)
print(type(new_string))

# string multiplication by integer
newest_string = "abc" * 3
print(newest_string)
print(type(newest_string))

Hello, Python!
<class 'str'>
14
<class 'str'>
0
1.12321
<class 'str'>
1.12321
<class 'float'>
abcdef
<class 'str'>
abcabcabc
<class 'str'>